a, a:hover, a:active {
    text-decoration: none;
    color: black;
    outline: none;
}
/*//////////////////////header//////////////////////*/
#header{
    width: 100vw;
    height: 160px;
    background-color: #b8b8b8;
}
.header_wrap{
    width: 1100px;
    height: 100%;
    margin: auto;
    background-color: white;
}
.header_title{
    font-size: 50px;
    line-height: 160px;
    text-align: center;
}
/*/////////////////////content/////////////////////*/
#container{
    width: 100vw;
    height: 1000px;
    background-color: #72747f;
}
.content{
    width: 1100px;
    height: 100%;
    margin: auto;
    background-color: white;
}
.sp{
    color: #ff4781;
    font-weight: lighter;
}
button{
    font-weight: bold;
    margin: 7px 10px 7px 15px;
    border: 1px solid gray;
    border-radius: 5%;
    color: gray;
    background-color: white;
}
button:hover{
    background-color: #ff94b6;
    color: white;
    border: 1px solid #ff94b6;
}
.menu_title{
    display: inline-block;
    font-weight: bold;
    width: 12%;
    position: absolute;
    top: 0;
    left: 20px;
}
.desc{
    width: 1100px;
    height: 7%;
    margin: auto;
    padding: 2% 0 0 2%;
    position: relative;
}
.sports{
    width: 1100px;
    height: 22%;
    margin: auto;
    padding: 2% 0 0 2%;
    position: relative;
}
.option_sports{
    display: inline-block;
    position: absolute;
    margin-left: 150px;
}
.fr{
    width: 1100px;
    height: 5%;
    margin: auto;
    padding: 1% 0 0 2%;
    position: relative;
}
.option_fr{
    display: inline-block;
    position: absolute;
    margin-left: 150px;
}
.goal{
    width: 1100px;
    height: 7%;
    margin: auto;
    padding: 2% 0 0 2%;
    position: relative;
}
.option_goal{
    display: inline-block;
    position: absolute;
    margin-left: 150px;
}
.way{
    width: 1100px;
    height: 5%;
    margin: auto;
    padding: 1% 0 0 2%;
    position: relative;
}
.option_way{
    display: inline-block;
    position: absolute;
    margin-left: 150px;
}
.hashtag{
    width: 1100px;
    height: 30%;
    margin: auto;
    padding: 2% 0 0 2%;
    position: relative;
}
.option_hashtag{
    width: 70%;
    height: 90px;
    border: 1px solid gray;
    position: absolute;
    margin-left: 150px;
    margin-top: 50px;
}
.take_ht{
    display: block;
    width: 70%;
    height: 30px;
    border: 1px solid gray;
    position: absolute;
    margin-left: 150px;
    margin-top: 10px;
}
#htDesc{
    color: #ff4781;
    margin-left: 150px;
}
hr{
    border: 0;
    height: 2px;
    background: lightgray;
}
/*////////////////////footer/////////////////////*/
#footer{
    width: 100vw;
    height: 200px;
    background-color: #444444;
}
.footer_wrap{
    width: 1100px;
    height: 100%;
    margin: auto;
    background-color: floralwhite;
}